fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
groq==0.4.1
pydantic==2.8.2
pydantic[email]
python-dotenv==1.0.0
reportlab==4.0.9
motor==3.6.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
cerebras-cloud-sdk
bcrypt==4.0.1